:root {
  --main-bg: #ffffff;
  --beige: #f0eae2;
  --red: #c95454;
  --text: #2d2c2c;
  --heading-text: #000000;
  --light-text: #949494;

  --font-headings: 'Source Serif Pro', serif;
  --font-main: 'DM Sans', sans-serif;
  --font-monospace: MonoLisa, 'Source Code Pro', monospace;

  --foldgutter-width: 1.8rem;
}

.theme-light {
  --background-primary: #ffffff;
  --background-primary-alt: var(--beige);
  --background-secondary: var(--main-bg);
  --background-secondary-alt: var(--beige);
  --background-modifier-border: var(--beige);
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: var(--red);
  --background-modifier-error: var(--red);
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #2c1e1e;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--red);
  --text-accent-hover: var(--red);
  --text-normal: #2e3338;
  --text-muted: #888888;
  --text-muted-rgb: 136, 136, 136;
  --text-faint: #999999;
  --text-error: var(--red);
  --text-error-hover: var(--red);
  --text-highlight-bg: rgba(201, 84, 84, 0.05);
  --text-highlight-bg-active: rgba(201, 84, 84, 0.05);
  --text-selection: var(--beige);
  --text-on-accent: #f2f2f2;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #e9e9e9;
  --interactive-accent: var(--red);
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: var(--red);
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
}

html,
body {
  font-size: 20px !important;
  font-family: var(--font-main);
  color: var(--text);
}

.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-family: var(--font-headings);
  line-height: 1;
}

.workspace-leaf-resize-handle {
  background-color: transparent;
  height: 100%;
}

.workspace-leaf-resize-handle:hover {
  background-color: var(--red);
}

.workspace-ribbon.mod-right.is-collapsed {
  border-left: 0;
}

.workspace-ribbon,
.workspace-tabs,
.workspace-tab-header-container,
.workspace-tab-container-before.is-before-active,
.workspace-tab-container-after.is-after-active,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active,
.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tabs .workspace-leaf,
.workspace-tab-header.is-active,
.workspace-ribbon.is-collapsed,
.status-bar {
  background: var(--beige);
  color: var(--light-text);
}

.workspace-tab-header.is-active,
.mod-active .view-header-icon {
  color: var(--heading-text);
}

.view-header,
.workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type
  .view-header {
  background: var(--beige);
}

.workspace-leaf.mod-active .view-header {
  background: var(--beige);
  border-bottom: 1px solid var(--red);
  transition: border-bottom 300ms linear;
}

.view-header-title-container:after,
.workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type.mod-active
  .view-header-title-container:after {
  background: linear-gradient(to right, transparent, var(--beige));
}

.cm-header-1 {
  font-size: 52px;
}

.cm-header-2 {
  font-size: 46px;
}

.cm-header-3 {
  font-size: 40px;
}

.cm-header-4 {
  font-size: 34px;
}

.cm-header-5 {
  font-size: 28px;
}

.cm-header-6 {
  font-size: 22px;
}

.CodeMirror-linenumber,
.cm-formatting {
  font-family: var(--font-monospace) !important;
  color: var(--light-text);
  opacity: 0.8;
  /* color: var(--text-mark) !important; */
}

.markdown-preview-section,
.markdown-source-view {
  font-size: 16px;
  line-height: 1.3;
}

.HyperMD-codeblock {
  line-height: 1.4em !important;
  color: var(--red) !important;
}

.nav-file-title,
.nav-folder-title {
  margin-bottom: 5px;
}

.nav-file:hover {
  background: #e6dbcc !important;
  color: var(--main-bg) !important;
}

.nav-file-title.is-active,
.nav-folder-title.is-active,
.nav-file-title.is-active:hover,
.nav-folder-title.is-active:hover {
  background: var(--red) !important;
  color: var(--main-bg) !important;
}

/* TKTK Maybe later, style blockquotes start */
/* blockquote:before {
  font: 14px/20px italic Times, serif;
  content: '“';
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
} */

.CodeMirror-foldgutter {
  width: var(--foldgutter-width);
}

.CodeMirror-guttermarker-subtle {
  font-size: 0.8em;
  text-align: center;
  opacity: 0.5;
  line-height: var(--foldgutter-width);
  height: var(--foldgutter-width);
  border-radius: 3px;
}

.CodeMirror-guttermarker-subtle:hover {
  opacity: 1;
  background-color: var(--beige);
  /* TKTK what if I did a cool SVG thing here */
}

.CodeMirror-foldgutter-open::after {
  content: '\25BC';
}

.CodeMirror-foldgutter-folded::after {
  content: '\25BA';
}

*::-webkit-scrollbar-track {
  background: var(--beige);
  opacity: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #de9999;
  border-radius: 10px;
  border: 1px solid var(--beige);
}
